{% extends "network/layout.html" %}

{% block body %}
    <h3 class="mb-4">Objave uporabnikov, ki jim slediš</h3>

    <div class="posts">
        {% for post in posts %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a>
                    </h5>
                    <p class="card-text">{{ post.content }}</p>
                    <div class="card-text d-flex justify-content-between">
                        <small class="text-muted">
                            Objavljeno: {{ post.timestamp|date:"d. m. Y, H:i" }}
                        </small>
                        <small class="text-muted">
                            <i class="far fa-heart"></i>
                            <span class="likes-count">{{ post.likes.count }}</span> {{ post.likes.count|sklanjaj_vsecke }}
                        </small>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="alert alert-info">
                Ni objav od uporabnikov, ki jim sledite.
            </div>
        {% endfor %}
    </div>
    {% include "network/pagination.html" %}
{% endblock %} 